<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->
<a class="btn btn-primary">Primary</a>
<a class="btn btn-secondary">Secondary</a>
<a class="btn btn-success">Success</a>
<a class="btn btn-danger">Danger</a>
<a class="btn btn-warning">Warning</a>
<a class="btn btn-info">Info</a>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
<a class="btn btn-outline-info">Info (unobtrusive)</a>

<p>
  <a class="primary">Primary</a>
</p>

<p>
  <a class="secondary">Secondary</a>
</p>

<p>
  <a class="success">Success</a>
</p>

<p>
  <a class="danger">Danger</a>
</p>

<p>
  <a class="warning">Warning</a>
</p>

<p>
  <a class="info">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="unobtrusive primary">Primary (unobtrusive)</a>
</p>

<p>
  <a class="unobtrusive secondary">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="unobtrusive success">Success (unobtrusive)</a>
</p>

<p>
  <a class="unobtrusive danger">Danger (unobtrusive)</a>
</p>

<p>
  <a class="unobtrusive warning">Warning (unobtrusive)</a>
</p>

<p>
  <a class="unobtrusive info">Info (unobtrusive)</a>
</p>

 <link rel="stylesheet" href="/my-styles.css">
